html {
    font-size: 10px;
}

body {
    background-color: black;
    overflow-x: hidden;
    --title-load-time: 300ms;
    --boysID-load-time: 500ms
}

.boysID {
    height: 90px;
    width: 90px;
    transform: scale(0);
    animation-name: boysID-load;
    animation-duration: var(--boysID-load-time);
    animation-delay: var(--title-load-time);
    animation-fill-mode: forwards;
}

#title {
    padding: 5rem;
    width: 275px;
    height: auto;
    transform: scale(0);
    animation: title-load var(--title-load-time) ease-out;
    animation-fill-mode: forwards;
}

.imgs {
    width: 175px;
    height: auto;
    transform: scale(0);
    animation: img-load 300ms ease-out;
    animation-delay: 600ms;
    animation-fill-mode: forwards;
}

li {
    color: white;
    font-size: 1.5rem;
    font-family: "Special Font";
    transform: translateY(-20px);
    opacity: 0;
    animation: text-load 300ms ease-out 400ms;
    animation-fill-mode: forwards;
}

.profileTD {
    padding: 1rem;
}

h1 {
    color: white;
    font-size: 3rem;
    font-family: "Special Font";
    transform: translateY(-20px);
    opacity: 0;
    animation: text-load 300ms ease-out;
    animation-fill-mode: forwards;
}

h3 {
    color: white;
    font-size: 1.75rem;
    font-family: "Special Font";
    transform: translateY(-20px);
    opacity: 0;
    animation: text-load 300ms ease-out 300ms;
    animation-fill-mode: forwards;
}

p {
    color: white;
    font-size: 1.5rem;
    font-family: "Special Font";
    transform: translateY(-20px);
    opacity: 0;
    animation: text-load 300ms ease-out 400ms;
    animation-fill-mode: forwards;

}

audio {
    width: 1rem;
    transform: scale(0);
    animation: img-load 300ms ease-out;
    animation-delay: 600ms;
    animation-fill-mode: forwards;
}

.homeBtn {
    width: 20rem;
    height: auto;
    margin: 5rem;
    transform: scale(0);
    animation: img-load 300ms ease-out;
    animation-delay: 700ms;
    animation-fill-mode: forwards;
}

/*  ANIMATIONS FOR THE PAGES */

@keyframes title-load {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes boysID-load {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes img-load {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes text-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*  ANIMATIONS FOR THE PAGES */

@media only screen and (min-width: 1280px) {
    body {
        margin-left: 40rem;
        margin-right: 40rem;
    }
    
    .charCell {
        background-color: rgb(0, 0, 0);
    }

    .boysID {
        height: 100px;
        width: 100px;
        margin: 0.25rem;
    }

    .boysID:hover {
        box-shadow: 0 5px 50px 0 rgb(255, 0, 0);
    }
    
    #title {
        padding: 5rem;
        width: 400px;
        height: auto;
    }
    
    .imgs {
        width: 185px;
        height: auto;
    }
    
    li {
        color: white;
        font-size: 1.75rem;
        font-family: "Special Font";
    }
    
    .profileTD {
        padding: 1rem;
    }
    
    h1 {
        color: white;
        font-size: 4rem;
        font-family: "Special Font";
    }
    
    h3 {
        color: white;
        font-size: 2rem;
        font-family: "Special Font";
    }
    
    p {
        color: white;
        font-size: 1.75rem;
        font-family: "Special Font";
    
    }
    
    audio {
        width: 20rem;
    }
    
    .homeBtn {
        width: 20rem;
        height: auto;
        margin: 5rem;
    }

    .homeBtn:hover {
        box-shadow: 0 5px 50px 0 rgb(255, 255, 255);
    }
}

@media only screen and (min-width: 1880px) {
    body {
        margin-left: 60rem;
        margin-right: 60rem;
    }
    
    .charCell {
        background-color: rgb(0, 0, 0);
    }

    .boysID {
        height: 125px;
        width: 125px;
        margin: 0.25rem;
    }

    .boysID:hover {
        box-shadow: 0 5px 50px 0 rgb(255, 0, 0);
    }
    
    #title {
        padding: 5rem;
        width: 400px;
        height: auto;
    }
    
    .imgs {
        width: 200px;
        height: auto;
    }
    
    li {
        color: white;
        font-size: 2rem;
        font-family: "Special Font";
    }
    
    .profileTD {
        padding: 1rem;
    }
    
    h1 {
        color: white;
        font-size: 6rem;
        font-family: "Special Font";
    }
    
    h3 {
        color: white;
        font-size: 4rem;
        font-family: "Special Font";
    }
    
    p {
        color: white;
        font-size: 2rem;
        font-family: "Special Font";
    
    }
    
    audio {
        width: 20rem;
    }
    
    .homeBtn {
        width: 20rem;
        height: auto;
        margin: 5rem;
    }

    .homeBtn:hover {
        box-shadow: 0 5px 50px 0 rgb(255, 255, 255);
    }
}

/* This is for the custom font */

@font-face {
    font-family: Special Font;
    src: url(SpecialElite-Regular.ttf);
  }